body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 12px sans-serif;
  text-anchor: end;
}

button {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Bitter",serif;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 20px;
    background-color: #6496c8;
    font-size: 20px;
    color: #fff;
    border: none;
}
